<!DOCTYPE html>
<html>
<head>
    <title>contact</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <% include components/top.ejs %>
        <div class="content" style="margin-top:70px;">
            <form action="?" method="post">
                street：<input type="text"  name="street"/><br />
                phone：<input type="text"  name="phone"/><br />
                fax：<input type="text"  name="fax"/><br />
                email：<input type="text"  name="email"/><br />
                weibo：<input type="text"  name="weibo"/><br />
                wx：<input type="text"  name="wx"/><br />
                <input type="submit" value="添加">
            </form>
            <table class="table table-bordered" style="margin-top:20px;">
                <tbody>
                    <th>
                       
                        <td>street</td>
                        <td>phone</td>
                        <td>fax</td>
                        <td>email</td>
                        <td>weibo</td>
                        <td>wx</td>
                        <td>操作</td>
                    </th>
                    <% for(var i=0;i<banner.length;i++){ %>
                    <tr>
                        <td><%=banner[i].ID%></td>
                        <td><%=banner[i].street%></td>
                        <td><%=banner[i].phone%></td>
                        <td><%=banner[i].fax%></td>
                        <td><%=banner[i].email%></td>
                        <td><%=banner[i].weibo%></td>
                        <td><%=banner[i].wx%></td>
                        <td><a href="?act=mod&id=<%=banner[i].ID%>">修改</a>
                        <a href="?act=del&id=<%=banner[i].ID%>" onclick="return confirm('确实删除吗？')">删除</a></td>
                    </tr>   
                    <% } %>
                </tbody>
            </table>
            <% if(typeof mod_data!="undefined"){%>
            <div>
                <form action="?" method="post">
                <input type="hidden" name="mod_id" value="<%=mod_data.ID%>"/>
                        street：<input type="text"  name="street" value="<%=mod_data.street%>"/><br />
                        phone：<input type="text"  name="phone"  value="<%=mod_data.phone%>"/><br />
                        fax：<input type="text"  name="fax" value="<%=mod_data.fax%>"/><br />
                        email：<input type="text"  name="email" value="<%=mod_data.email%>"/><br />
                        weibo：<input type="text"  name="weibo" value="<%=mod_data.weibo%>"/><br />
                        wx：<input type="text"  name="wx" value="<%=mod_data.wx %>"/><br />
                    <input type="submit" value="修改"><a href="/admin/contact">取消修改</a>
                </form>
            </div>
            <% }%>
        </div>
    </div>
</body>
</html> 